<div class="modal fade text-muted" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalSubject" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSubject">ユーザー情報</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modalBody">
        <ul class="text-center p-0 my-3">
          <li>
            <img class="mb-3" src="<%= current_user.avatar %>">
          </li>
          <li>ユーザーID：　<%= current_user.id %></li>
          <li>ユーザー名：　<%= current_user.name %></li>
        </ul>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          </div>
      </div>
    </div>
  </div>
</div>
