<%= render "form", post: @post  %>
<hr color="#026873">
<div class="container">
  <%= paginate @posts %>
  <div id="posts" class="mb-3">
    <%= render @posts %>
  </div>
  <%= paginate @posts %>
</div>
